.green{
    color: green;
    white-space: pre;
}
.red {
    color: red;
    white-space: pre;
}
.ret {
    margin-block-start: 0;
    margin-block-end: 0;
}
nav{
    display: inline-block;
    min-height: 25px;
}
nav a{
    /* padding: 5px; */
    color: black;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    font-size: 1.5em;
    border: 1px dashed burlywood;
    margin: 2px;
    border-radius: 20px;
}
.btn{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #2d4242;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
input {
    margin: 10px;
    padding: 5px;
}

.selected {
    border: 2px solid black;
}